
*{margin: 0;padding: 0;}

$main-red:rgb(198,47,47);

.container{
	width: 1022px;
	height: 670px;
	margin: 0px auto;
	background: #fff;
	box-shadow:2px 2px 5px grey;
	
	.header{
		height: 50px;
		background: $main-red;
	}
}